body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}
input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 50%;
  display: block;
  color: #4d2d52;
  border: 2px solid rgba(77, 45, 82, 0.8);
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
.card-list {
  font-family: "Source Sans Pro", sans-serif;
  background: #fff;
  color: #263650;
  display: flex;
  padding: 10px;
  min-height: 350px;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: start;
  margin: 0 2rem;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #4d8da5;
  font-weight: bold;
  margin-right: 1rem;
}
.nav-links a.active,
.nav-links a:hover {
  border-bottom: 1px solid #91671a;
}
.item-sub-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  border-bottom: 1px solid #438f8e;
  justify-content: center;
}

.item-sub-nav a {
  color: #3a1d1d;
  text-decoration: none;
  padding: 12px;
  font-weight: bold;
}

.item-sub-nav a.active {
  color: #1c5d76;
  font-weight: bold;
}

.item-sub-nav a:first-of-type {
  margin-right: 32px;
}
